<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="highlightex" converterClass="com.logback.config.HighlightingCompositeConverterEx" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if(logger.startsWith("org.apache.http"))
                    return true;

                    if(mdc == null || mdc.get("entity") == null)
                    return false;

                    String payee = (String) mdc.get("entity");

                    if(logger.equals("org.apache.http.wire") &amp;&amp; <!-- & encoded as &amp; -->
                    payee.contains("someSpecialValue") &amp;&amp;
                    !message.contains("someSecret")) {
                    return true;
                    }

                    return false;
                </expression>
            </evaluator>
        </filter>

    <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg %mdc{package-level}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.logback.service" level="TRACE"/>
    <logger name="com.logback.controller" level="TRACE"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
        <Key>log-level</Key>
        <DefaultThreshold>${LOG_LEVEL:-INFO}</DefaultThreshold>
        <MDCValueLevelPair>
            <value>TRACE</value>
            <level>TRACE</level>
        </MDCValueLevelPair>
        <MDCValueLevelPair>
            <value>DEBUG</value>
            <level>DEBUG</level>
        </MDCValueLevelPair>
    </turboFilter>

</configuration>